<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/mvc
						http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd
						http://www.springframework.org/schema/beans
						http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
						http://www.springframework.org/schema/context
          				http://www.springframework.org/schema/context/spring-context-4.0.xsd">

    <!-- 1.配置前端控制器放行静态资源文件
        (通过浏览器可以访问项目中的静态资源文件html/css/js/图片等） -->
    <mvc:default-servlet-handler/>

    <!-- 2.配置注解驱动, 用于识别注解 比如, @Controller -->
    <mvc:annotation-driven></mvc:annotation-driven>

    <!-- 3.配置需要扫描的包: spring会自动去扫描 com.tedu.controller 下的所有类
        如果扫描到类上有 @controller 等注解, 将会自动注册为bean, 即将该类的对象
        的创建交给spring容器 -->
    <context:component-scan base-package="com.github.gudian1618.cgb2011yonghessm.controller">
    </context:component-scan>

    <!-- 4.配置内部资源视图解析器(InternalResourceViewResolver)
        将请求转向 /WEB-INF/pages/home.jsp 页面
        prefix: 配置路径前缀
        suffix: 配置文件后缀
     -->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix"  value="/WEB-INF/pages/"  />
        <property name="suffix"  value=".jsp"  />
    </bean>

</beans>
